body {
    background-color: lightblue;
}
.header {
    padding: 1px;
    text-align: center;
    background-image: url("../Img/header.jpg");
    background-size: cover;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.header h1 {
    font-size: 15px;
}
.header p{
    font-size: 10px;
}


/* Add a black background color to the top navigation */
.topnav {
   
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    cursor: pointer;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li:last-child {
    border-right: none;
}