<!DOCTYPE html>
<html> 
  <head>
    <title> Vue JS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="Bootstrap.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'> 
       


    


<div id="arrow">
  <div class="container-fluid">
  
    <ul class="list-group">
      <post v-for="comment in comments" :post="comment"></post>
    </ul>
    
    <div id="comment-box">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter a comment..." v-model="comment" @keyup.enter="postComment">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" @click="postComment">Submit</button>
          </span>
      </div>
    </div>

  </div>

</div>

<template id="post-template">
  <li class="list-group-item">
    <i class="glyphicon glyphicon-chevron-up" @click="upvote" :class="{disabled: upvoted}"></i>
    <span class="label label-primary">{{ votes }}</span>
    <i class="glyphicon glyphicon-chevron-down" @click="downvote" :class="{disabled: downvoted}"></i>
    <a>{{ post.title }}</a>
  </li>
</template>

  <script src="Script/script_arrow.js"></script>
  <script src="Script/script_star.js"></script>

  </body>

</html>